src/main/app/wsdl-validator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd ">
    <flow name="SOAPRequestReceiver" doc:name="SOAPRequestReceiver">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8881" path="person" doc:name="HTTP"/>
        <cxf:proxy-service namespace="http://mulesoft/samples/wsdl-first" service="PersonService" validationEnabled="true" payload="envelope" wsdlLocation="src/main/resources/person.wsdl" doc:name="SOAP"/>
        <cxf:proxy-client payload="envelope" doc:name="SOAP"/>
        <object-to-string-transformer doc:name="Payload is XML"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="dummy" doc:name="Needed in order to set inbound property"/>
    </flow>
    <flow name="ResponseGenerationFlow" doc:name="ResponseGenerationFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="dummy" doc:name="VM"/>
        <scripting:component doc:name="Should Be DataMapper">
            <scripting:script engine="Groovy">
                <scripting:text><![CDATA[import groovy.xml.MarkupBuilder

def req = new XmlSlurper().parseText(payload.toString())
def writer = new StringWriter()
def resp = new MarkupBuilder(writer)

def person = req.Body.RegisterPerson

resp.Envelope(xmlns:'http://schemas.xmlsoap.org/soap/envelope/', 'xmlns:typ':'http://mulesoft/samples/wsdl-first/types'){
	Body(){
		if(person.firstname != 'Albin'){
			'typ:RegisterPersonResponse'{
				'typ:personId'('PersonId')
				'typ:status'('Person Status')
				'typ:addressline1'(person.addressline1)
				'typ:city'(person.city)
				'typ:postalcode'(person.postalcode)
				'typ:state'(person.state)
				'typ:country'(person.country)				
			}
		}else{
			Fault(){
				'typ:UnknownPersonFault'(){
					'typ:personId'('PersonId')
				}
			}
		}
	}
}
//Super ugly work around for problem in proxy implementation.
message.setOutboundProperty('http.status','200')
return writer.toString()]]></scripting:text>
            </scripting:script>
        </scripting:component>
    </flow>
</mule>
